* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
/* Common */
.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}
.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}
.btn {
    --height: 56px;

    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    display: inline-block;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.btn {
    opacity: 0.9;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
/* Header */
.header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    align-items: center;
}
.navbar__link,
.header-action__link {
    padding: 8px 16px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem; /* 100% */
}
.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}
.header-action__btn {
    --height: 50px;
    min-width: 117px;
}

/* Hero */
.hero {
    margin-top: 74px;
    margin-bottom: 77px;
}
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}
.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}
.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    left: -58px;
    bottom: 10px;
}
.hero__decor-right {
    top: 17px;
    right: -43px;
}
.hero__img-wrap-small {
    margin: 0 0 -58px -24px;
    align-self: flex-end;
    width: 182px;
    height: 244px;
    flex-shrink: 0;
    background: #faa7ad;
    border: 3px solid #fad9dc;
}
.hero__list {
    left: 129px;
    bottom: 0;
    position: absolute;
    width: 250px;
    height: 156px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero-list-item {
    margin: 18px 14px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.hero-list-item:first-child {
    border-bottom: 2px solid #f2f2f2;
}
.hero-list-item__img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}
.hero-list-item:nth-of-type(2) .hero-list-item__img {
    background: #c6e2fa;
}

.hero-list-item__content {
    margin-left: 10px;
}
.hero-list-item__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
}
.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}
.hero-action {
    margin-top: 38px;
}
.hero__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --height: 60px;
    color: #fff;
    font-size: 1.6rem;
    min-width: 189px;
    background: var(--primary-color);
    border: none;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}
.hero__link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration-line: underline;
}

/* About */
.about {
    padding: 53px 0 185px;
}
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
    /* kết quả sẽ khác khi áp dụng display: flex; */
}
.about__heading {
    width: 446px;
}
.about__desc {
    width: 431px;
}
.about__checklist {
    margin-top: 54px;
    gap: 36px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}
.about__check-item {
    gap: 10px;
    position: relative;
    display: flex;
    align-items: center;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
}
.about__check-item::before {
    content: "";
    background: #ff5d31;
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}
.about__check-item::after {
    top: 3px;
    left: 4px;
    position: absolute;
    content: url(../img/checked.svg);
}
.about__media {
    position: relative;
}
.about__card {
    top: 165px;
    left: 0;
    position: absolute;
    padding: 30px 26px;
    text-align: center;
    width: 136px;
    height: 156px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}
.about__card-title {
    padding-top: 31px;
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
}
.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}
.about__card-decor {
    position: absolute;
    top: -39px;
    right: -31px;
}
.about__img-wrap {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    position: relative;
    width: 494px;
    height: 559px;
    flex-shrink: 0;
    border-radius: 16px;
}
.about__img-wrap::after {
    z-index: -1;
    inset: auto 0 0 0;
    position: absolute;
    content: "";
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
}

.about__img {
    display: block;
    width: 450px;
    margin: 0 auto;
    flex-shrink: 0;
}
.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}
.about__img-wrap-bottom {
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border-radius: 18px;
    width: 458px;
    height: 500px;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border: 2px solid #ffffff;
    margin-left: 0;
}
.about__img-wrap-bottom::after {
    content: none;
}
.about__img-bottom {
    width: 100%;
}
.about__decor-img {
    position: absolute;
}
.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    right: -45px;
    bottom: -55px;
}

.tab {
    margin-top: 52px;
}
.tab__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}
.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 10px;
}
.tab__icon {
    /* display: inline-block;
    /* width: 21px; */
    /* width: 21px; */
    /* object-fit: cover; */
}
.tab__title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}
.tab__contents {
    padding-top: 36px;
}
.tab__content-item {
    display: none;
}
.tab__content-item--active {
    display: block;
}
.tab__content-desc {
    width: 391px;
    margin-top: 0;
    font-size: 1.4rem;
    line-height: 1.7; /* 171.429% */
}
.tab__content-more {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
}
.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}
/* Service */
.service {
    padding: 68px 0 100px;
    background: #fff6ed;
}
.service__top {
    text-align: center;
}
.service__desc {
    margin-bottom: 15px;
    font-family: Sora;
    color: #5e6085;
    font-weight: 600;
}
.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 70px;
}
.service__column {
    align-items: center;
    padding-top: 71px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.service-item {
    padding: 30px 22px 28px 30px;
    width: 294px;
    height: 208px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}
.service-item__heading {
    padding-left: 12px;
    position: relative;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.service-item__heading::before{
    bottom: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 2px;
height: 22px;
background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);


}
.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}
.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.service-item__icon {
    margin: 1px 0 0 6px;
}

.service__media {
    margin-top: 18px;
    position: relative;
}
.service__media::after {
    left: 16px;
    right: 16px;
    bottom: 0;
    content: "";
    position: absolute;
    height: 350px;
    flex-shrink: 0;
    border-radius: 10px;

    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service__img {
    display: flex;
    z-index: 1;
    position: relative;
    width: 100%;
    flex-shrink: 0;
}
.service__btn-cta {
    margin-top: 45px;
}
.service__btn {
    width: 214px;
    border: 1px solid rgb(255, 91, 46, 0.6);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
}
.service__column:nth-of-type(2) {
    gap: 0;
}
/* Stuff */
.staff {
    padding: 130px 0;
}
.staff__top {
    text-align: center;
}
.staff__desc {
    margin: 0 0 15px;
    color: #5e6085;
    font-family: Sora;
    font-weight: 600;
    line-height: 1;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    flex-shrink: 0;
    border-radius: inherit;
}
.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.staff-item__img-wrap::before {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 266px;
    flex-shrink: 0;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item__img-wrap::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: url(../img/stuff-decor.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    content: url(../img/stuff-decor2.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    content: url(../img/stuff-decor3.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    content: url(../img/stuff-decor4.svg);
}
.staff-item:nth-child(even) .staff-item__img-wrap::after {
    bottom: initial;
    top: 20px;
}

.staff-item__title {
    margin-top: 29px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.stuff-item__name {
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.staff__btn-cta {
    text-align: center;
    margin-top: 48px;
}
.staff__btn {
    width: 193px;
    border: 1px solid rgb(255, 91, 46, 0.6);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
}
/* Pricing */

.pricing {
    padding: 86px 0;
    background: #fff6ed;
}
.pricing__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pricing__desc {
    display: inline-block;
    width: 709px;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.pricing__switch-inner {
    position: relative;
    /* margin-top: 38px; */
    display: flex;
    align-items: center;
    
}
.pricing__switch-label{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    cursor: pointer;
    user-select: none;
}

.pricing__switch-label::before {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 140px;
    height: 100%;
    flex-shrink: 0;
    border-radius: inherit;
    background: var(--primary-color);
}
.pricing__switch-value {
    z-index: 1;
position: relative;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height:1;
}
.pricing__switch-input:checked + .pricing__switch-label::before{
    width:131px;
    right: 0;
    left:auto;
}
.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-of-type(1){
    color:var(--primary-color);
}
.pricing__sale-off{
    position: absolute;
    right: -112px;
    top: -10px;
}
.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 44px;
    justify-content: space-between;
}
.pricing-item {
    padding: 30px 28px 43px;
    width: 302px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
}
.pricing-item__type {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.pricing-item__price {
    display: block;
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03; /* 103.03% */
}
.pricing-item__btn {
    --height: 44px;
    width: 246px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    margin-top: 22px;
}
.pricing-item__btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.pricing-item__list {
    margin-top: 24px;
}
.pricing-item__item {
    display: flex;
    align-items: center;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.pricing-item__item::before {
    content: url(../img/pricing-item__check.svg);
    margin-right: 12px;
}
/* Có thêm class unckeck sẽ bị opacity 0.4 */
/* Sử dụng cho các pricing-item__item chưa được tích (bị mờ đi 60%) */
.uncheck.pricing-item__item::before {
    opacity: 0.4;
}
.pricing-item__item + .pricing-item__item {
    margin-top: 18px;
}
